<template name="layout">
  <body>
    <div class="container main-container">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Link</a></li>
            <li><a href="/">Link</a></li>
            <li><a href="/">Link</a></li>
          </ul>
        </div>
      </nav>
      <div class="card main-card">
        <div class="container content-container">
          {{> loginButtons}}
          <div class="forum-navigation"><a href="/">Home</a>
            {{#each navigation}}
              -> <a href="/{{link}}">{{name}}</a>
            {{/each}}
          </div>
          {{> yield}}
        </div>
      </div>
    </div>
  </body>
</template>
