.post-container {
  padding-bottom: 20px;
  margin-top: 10px;
}

.post-header {
  margin-bottom: 0;
  padding-left: 4px;
}

.post-user {
  margin: 0;
  height: auto;
  padding: 5px;
}

.post-user-td {
  width: 200px;
  min-width: 200px;
  padding: 0;
  vertical-align: top;
}
.post-content {
  margin: 0;
  padding-bottom: 20px;
  padding-top: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

.post-content-td {
  padding: 0;
  vertical-align: top;
}
